{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- Offer Start -->
<div class="container-fluid my-5 py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7 wow zoomIn" data-wow-delay="0.6s">
                <div class="offer-text text-center rounded p-5">
                        <h2>ED Stays Entry Form</h2>
                        <form method="POST">
                            {% csrf_token %}
                            
                            {% comment %} <div class="row mb-3">
                                <label for="subject_id" class="col-sm-4 col-form-label">Subject ID:</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="subject_id" name="subject_id" required>
                                </div>
                            </div>{% endcomment %}
                    
                            <div class="row mb-3">
                                <label for="hadm_id" class="col-sm-4 col-form-label">Hospital Admission ID:</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="hadm_id" name="hadm_id" list="hadm_id_list" autocomplete="off">
                                    <datalist id="hadm_id_list">
                                    </datalist>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="stay_id" class="col-sm-4 col-form-label">Stay ID:</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="stay_id" name="stay_id" required>
                                </div>
                            </div>
                    
                            {% comment %} <div class="row mb-3">
                                <label for="intime" class="col-sm-4 col-form-label">Admission DateTime:</label>
                                <div class="col-sm-8">
                                    <input type="datetime-local" class="form-control" id="intime" name="intime" required>
                                </div>
                            </div> {% endcomment %}
                    
                            <div class="row mb-3">
                                <label for="outtime" class="col-sm-4 col-form-label">Discharge DateTime:</label>
                                <div class="col-sm-8">
                                    <input type="datetime-local" class="form-control" id="outtime" name="outtime" required>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="gender" class="col-sm-4 col-form-label">Gender:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="gender" name="gender">
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                        <option value="O">Other</option>
                                    </select>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="race" class="col-sm-4 col-form-label">Ethnicity:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="race" name="race" required placeholder="Enter race or aggregated category">
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="arrival_transport" class="col-sm-4 col-form-label">Arrival Transport:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="arrival_transport" name="arrival_transport">
                                        <option value="WALK IN">Walk In</option>
                                        <option value="AMBULANCE">Ambulance</option>
                                        <option value="UNKNOWN">Unknown</option>
                                        <option value="OTHER">Other</option>
                                        <option value="HELICOPTER">Helicopter</option>
                                    </select>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="disposition" class="col-sm-4 col-form-label">Disposition:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="disposition" name="disposition">
                                        <option value="HOME">Home</option>
                                        <option value="ADMITTED">Admitted</option>
                                        <option value="TRANSFER">Transfer</option>
                                        <option value="LEFT WITHOUT BEING SEEN">Left Without Being Seen</option>
                                        <option value="OTHER">Other</option>
                                        <option value="LEFT AGAINST MEDICAL ADVICE">Left Against Medical Advice</option>
                                        <option value="ELOPED">Eloped</option>
                                        <option value="EXPIRED">Expired</option>
                                    </select>
                                </div>
                            </div>
                    
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->

<script>
    const inputBox = document.getElementById("hadm_id");

    inputBox.addEventListener("input", function() {
        const inputValue = inputBox.value.trim();

        if (inputValue === "") {
            // Clear the datalist when the input is empty
            document.getElementById("hadm_id_list").innerHTML = "";
            return;
        }

        const endpoint = `{% url "get_hadm_id" %}?query=${inputValue}`;

        // Send a GET request to the endpoint
        fetch(endpoint)
            .then(response => response.json())
            .then(data => {
                const datalist = document.getElementById("hadm_id_list");

                // Clear previous options
                datalist.innerHTML = "";

                // Add new options based on JSON response
                data.forEach(item => {
                    const option = document.createElement("option");
                    option.value = item;
                    datalist.appendChild(option);
                });
            })
            .catch(error => {
                console.error("Error fetching data:", error);
            });
    });
</script>
{% endblock body %}
