<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIMICer</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <a href="{% url "patient_form" %}"><button class="btn btn-primary mr-2">Patient Entry</button></a>
                <a href="{% url "admission_form" %}"><button class="btn btn-primary mr-2">Admission Entry</button></a>
                <a href="{% url "edstays_form" %}"><button class="btn btn-primary mr-2">Edstays Entry</button></a>
                <a href="{% url "diagnosis_form" %}"><button class="btn btn-primary mr-2">Diagnosis Entry</button></a>
                <a href="{% url "pyxis_form" %}"><button class="btn btn-primary mr-2">Pyxis Entry</button></a>
                <a href="{% url "triage_form" %}"><button class="btn btn-primary mr-2">Triage Entry</button></a>
                {% comment %} <button class="btn btn-secondary mr-2">Button 2</button> {% endcomment %}
                <a href="{% url "logout" %}"><button class="btn btn-success">Logout</button></a>
            </div>
        </div>
    </div>

</body>

</html>
