{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
    <a href="index.html" class="navbar-brand p-0">
        <h1 class="m-0 text-primary"><i class="fa fa-tooth me-2"></i>DentCare</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a href="index.html" class="nav-item nav-link active">Home</a>
            <a href="about.html" class="nav-item nav-link">About</a>
            <a href="service.html" class="nav-item nav-link">Service</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu m-0">
                    <a href="price.html" class="dropdown-item">Pricing Plan</a>
                    <a href="team.html" class="dropdown-item">Our Dentist</a>
                    <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                    <a href="appointment.html" class="dropdown-item">Appointment</a>
                </div>
            </div>
            <a href="contact.html" class="nav-item nav-link">Contact</a>
        </div>
        <button type="button" class="btn text-dark" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></button>
        <a href="appointment.html" class="btn btn-primary py-2 px-4 ms-3">Appointment</a>
    </div>
</nav>
<!-- Navbar End -->


<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->




<!-- Offer Start -->
<div class="container-fluid my-5 py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7 wow zoomIn" data-wow-delay="0.6s">
                <div class="offer-text text-center rounded p-5">
                    <!-- <h1 class="display-9 text-white">Login</h1> -->
                    <!-- <div class="container mt-5"> -->
                        <h2 class="mb-5">Admission Entry Form</h2>
                        <form action="" method="POST">
                            {% csrf_token %}
                            
                            {% comment %} <div class="row mb-3">
                                <label for="subject_id" class="col-sm-4 col-form-label">Subject ID:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="subject_id" name="subject_id" value="{{ subject_id }}" required>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="hadm_id" class="col-sm-4 col-form-label">Hospital Admission ID:</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="hadm_id" name="hadm_id" value="{{ hadm_id }}" required>
                                </div>
                            </div> {% endcomment %}
                    
                            <div class="row mb-3">
                                <label for="admittime" class="col-sm-4 col-form-label">Admission Time:</label>
                                <div class="col-sm-8">
                                    <input type="datetime-local" class="form-control" id="admittime" name="admittime" value="{{ admittime }}" required>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="dischtime" class="col-sm-4 col-form-label">Discharge Time:</label>
                                <div class="col-sm-8">
                                    <input type="datetime-local" class="form-control" id="dischtime" name="dischtime" value="{{ dischtime }}" required>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="deathtime" class="col-sm-4 col-form-label">Death Time:</label>
                                <div class="col-sm-8">
                                    <input type="datetime-local" class="form-control" id="deathtime" name="deathtime" value="{{ deathtime }}">
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="admission_type" class="col-sm-4 col-form-label">Admission Type:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="admission_type" name="admission_type" value="{{ admission_type }}">
                                        <option>AMBULATORY OBSERVATION</option>
                                        <option>DIRECT EMER.</option>
                                    </select>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="admit_provider_id" class="col-sm-4 col-form-label">Admit Provider ID:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="admit_provider_id" name="admit_provider_id" value="{{ admit_provider_id }}" required>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="admission_location" class="col-sm-4 col-form-label">Admission Location:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="admission_location" name="admission_location" value="{{ admission_location }}">
                                        <option value="PHYSICIAN REFERRAL">Physician Referral</option>
                                        <option value="WALK-IN/SELF REFERRAL">Walk-in/Self Referral</option>
                                        <option value="AMBULATORY SURGERY TRANSFER">Ambulatory Surgery Transfer</option>
                                        <option value="INFORMATION NOT AVAILABLE">Information Not Available</option>
                                    </select>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="discharge_location" class="col-sm-4 col-form-label">Discharge Location:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="discharge_location" name="discharge_location" value="{{ discharge_location }}">
                                        <option value="HOME">Home</option>
                                        <option value="ACUTE HOSPITAL">Acute Hospital</option>
                                        <option value="SKILLED NURSING FACILITY">Skilled Nursing Facility</option>
                                    </select>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="insurance" class="col-sm-4 col-form-label">Insurance:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="insurance" name="insurance" value="{{ insurance }}" required>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="language" class="col-sm-4 col-form-label">Language:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="language" name="language" value="{{ language }}">
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="marital_status" class="col-sm-4 col-form-label">Marital Status:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="marital_status" name="marital_status" value="{{ marital_status }}">
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="ethnicity" class="col-sm-4 col-form-label">Ethnicity:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="ethnicity" name="ethnicity" value="{{ race }}">
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="edregtime" class="col-sm-4 col-form-label">Emergency Department Registration Time:</label>
                                <div class="col-sm-8">
                                    <input type="datetime-local" class="form-control" id="edregtime" name="edregtime" value="{{ edregtime }}">
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="edouttime" class="col-sm-4 col-form-label">Emergency Department Out Time:</label>
                                <div class="col-sm-8">
                                    <input type="datetime-local" class="form-control" id="edouttime" name="edouttime" value="{{ edouttime }}">
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="hospital_expire_flag" class="col-sm-4 col-form-label">Hospital Expire Flag:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="hospital_expire_flag" name="hospital_expire_flag" value="{{ hospital_expire_flag }}">
                                        <option value="0">Survived</option>
                                        <option value="1">Expired</option>
                                    </select>
                                </div>
                            </div>
                    
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    <!-- </div> -->
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->
{% endblock body %}
