{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- Offer Start -->
<div class="container-fluid my-5 py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7 wow zoomIn" data-wow-delay="0.6s">
                <div class="offer-text text-center rounded p-5">
                        <h2>Diagnosis Entry Form</h2>
                        <form method="POST">
                            {% csrf_token %}
                            
                            {% comment %} <div class="row mb-3">
                                <label for="subject_id" class="col-sm-4 col-form-label">Subject ID:</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="subject_id" name="subject_id" required>
                                </div>
                            </div> {% endcomment %}
                    
                            {% comment %} <div class="row mb-3">
                                <label for="stay_id" class="col-sm-4 col-form-label">Stay ID:</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="stay_id" name="stay_id" value="{{stay_id_id}}" required>
                                </div>
                            </div> {% endcomment %}
                    
                            <div class="row mb-3">
                                <label for="seq_num" class="col-sm-4 col-form-label">Sequence Number:</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="seq_num" name="seq_num" value="{{seq_num}}" required>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="icd_code" class="col-sm-4 col-form-label">ICD Code:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="icd_code" name="icd_code" value="{{icd_code}}" required>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="icd_version" class="col-sm-4 col-form-label">ICD Version:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="icd_version" name="icd_version">
                                        {% for option, value in option_icd_version.items %}
                                            {% if option == icd_version %}
                                            <option value="{{option}}" selected>{{value}}</option>
                                            {% else %}
                                            <option value="{{option}}">{{value}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="icd_title" class="col-sm-4 col-form-label">ICD Title:</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="icd_title" name="icd_title" rows="3" required>{{icd_title}}</textarea>
                                </div>
                            </div>
                    
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>                        
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->
{% endblock body %}
