{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- Offer Start -->
<div class="container-fluid my-5 py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-7 wow zoomIn" data-wow-delay="0.6s">
                <div class="offer-text text-center rounded p-5">
                        <h2>ED Stays Entry Form</h2>
                        <form method="POST">
                            {% csrf_token %}
                            
                            {% comment %} <div class="row mb-3">
                                <label for="subject_id" class="col-sm-4 col-form-label">Subject ID:</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="subject_id" name="subject_id" required>
                                </div>
                            </div>{% endcomment %}
                    
                            {% comment %} <div class="row mb-3">
                                <label for="hadm_id" class="col-sm-4 col-form-label">Hospital Admission ID:</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="hadm_id" name="hadm_id" placeholder="Ranges from 2000000 - 2999999">
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="stay_id" class="col-sm-4 col-form-label">Stay ID:</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="stay_id" name="stay_id" required>
                                </div>
                            </div> {% endcomment %}
                    
                            <div class="row mb-3">
                                <label for="intime" class="col-sm-4 col-form-label">Admission DateTime:</label>
                                <div class="col-sm-8">
                                    <input type="datetime-local" class="form-control" id="intime" name="intime" value="{{ intime }}" required>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="outtime" class="col-sm-4 col-form-label">Discharge DateTime:</label>
                                <div class="col-sm-8">
                                    <input type="datetime-local" class="form-control" id="outtime" name="outtime" value="{{outtime}}" required>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="gender" class="col-sm-4 col-form-label">Gender:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="gender" name="gender">
                                        {% for option, value in value_gender.items %}
                                            {% if option == gender %}
                                            <option value="{{option}}" selected>{{value}}</option>
                                            {% else %}
                                            <option value="{{option}}">{{value}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="race" class="col-sm-4 col-form-label">Ethnicity:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="race" name="race" value="{{race}}" required placeholder="Enter race or aggregated category">
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="arrival_transport" class="col-sm-4 col-form-label">Arrival Transport:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="arrival_transport" name="arrival_transport">
                                        {% for option, value in option_arrival_transport.items %}
                                            {% if option == arrival_transport %}
                                            <option value="{{option}}" selected>{{value}}</option>
                                            {% else %}
                                            <option value="{{option}}">{{value}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                    
                            <div class="row mb-3">
                                <label for="disposition" class="col-sm-4 col-form-label">Disposition:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="disposition" name="disposition">
                                        {% for option, value in option_disposition.items %}
                                            {% if option == disposition %}
                                            <option value="{{option}}" selected>{{value}}</option>
                                            {% else %}
                                            <option value="{{option}}">{{value}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                    
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->
{% endblock body %}
